.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #fafafa;
  }
  
  .description {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .description h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .description button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 10px
  }
  
  .result {
    margin-top: 20px;
    font-size: 16px;
  }

  
.roundButton {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #007bff; 
  color: white;
  font-size: 16px; 
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.roundButton:hover {
  background-color: #0056b3; /* Darken on hover */
}

.centeredButtonContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Ensure container takes full width */
  margin-top: 10px; /* Add some spacing */
}